/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
}

#verification_heading {
    font-size: 24px;
    margin-bottom: 10px;
}

#verification_subtext {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.code-container {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
}

.code {
    width: 30px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.code:focus {
    border-color: #007BFF;
    outline: none;
}